{
   "asyn" : true,
   "filter" : {
      "debug" : false,
      "err" : false,
      "info" : false,
      "perf" : false
   },
   "logger" : [
      {
         "name" : "",
         "type" : 0
      },
      {
         "name" : "debug.log",
         "type" : 1
      },
      {
         "name" : "info.log",
         "type" : 2
      },
      {
         "name" : "err.log",
         "type" : 3
      },
      {
         "name" : "perf.log",
         "type" : 4
      }
   ],
   "tag" : [ "core", "pathfinder", "lua" ]
}

